<app-edit-name [Hero]="Hero"></app-edit-name>
<div class="container" style=" margin-top: 10px; padding-top: 10px; padding-bottom:10px;">
    <div class="row">
        <div class="col-lg-4" style="border: 1px solid black;">
            <app-edit-attribs [Hero]="Hero"></app-edit-attribs>
        </div>
        <div class="col-lg-2" >
            <app-edit-derived-stats [Hero]="Hero"></app-edit-derived-stats>
        </div>
        <div class="col-lg-6" >
            <app-edit-powers [Hero]="Hero"></app-edit-powers>
        </div>
    </div>
</div>
